#container {
    width: 350px;
    height: 500px;
    margin: 20px auto;
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
}

.form-control:last-child {
    margin-bottom: 0;
}

.operators {
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}