* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
}

ul li a {
    text-decoration: none;
}

table,
tr,
td,
th {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

html {
    font-size: 16px;
}

#header {
    width: inherit;
    margin: 50px;
    line-height: 50px;
}

#container {
    width: 800px;
    margin: 20px auto;
}

#logo {
    width: 30%;
    height: inherit;
    background-color: aquamarine;
    float: right;
}

#header-content {
    width: 70%;
    height: inherit;
    background-color: green;
    margin-top: 10px;
    float: left;
}

#menu {
    height: 30px;
}

#footer {
    width: inherit;
    height: 40px;
    background-color: yellow;
    line-height: 40px;
}

.main {
    height: 30px;
    width: inherit;
    background-color: aqua;
    line-height: 300px;
}

.content {
    width: inherit;
    height: 40px;
    background-color: lightskyblue;
    float: right;
}

.clear-fix {
    clear: both;
}